<main class="container">
  <section class="row g-5">
  
    <div class="my-3 p-2 ">
      <h5 class="header fs-5">AREAS ACROSS THE TOWN</h5>
      <li class="my-2 fw-bold fs-2">Neighborhood Properties</li>
    </div>
    
    <div class="col-lg-4 col-md-5 col-sm-6">
      <figure class="firstimg shadow">
      <a routerLink="/Selectdata/{{areasNY.state}}">
        <img src="../../../assets/images/6.jpg" class="rounded-4  w-100" alt="homehouse">
      </a>
      <li class=" fw-bold fs-2 paragraph">{{areasNY.sqft}} ft<sup>2</sup></li>
      <li class="paragraphtwo fw-bold fs-6">{{areasNY.location}}</li>
      </figure>
    </div>

    <div class="col-lg-4 col-md-5 col-sm-6">
      <div class="firstimg shadow">
        <a routerLink="/Selectdata/{{areasFL.state}}">
          <img src="../../../assets/images/8.jpg" class="rounded-4 w-100" alt="homehouse"></a> 
        <li class=" fw-bold fs-2 paragraph">{{areasFL.sqft}} ft<sup>2</sup></li>
        <li class="paragraphtwo fw-bold fs-6"> {{areasFL.location}}</li>
      </div>
    </div>

    <div class="col-lg-4 col-md-5 col-sm-6">
      <div class="firstimg">
        <a routerLink="/Selectdata/{{areasTX.state}}">
          <img src="../../../assets/images/9.jpg" class="rounded-4  w-100" alt="homehouse"></a> 
        <li class=" fw-bold fs-2 paragraph">{{areasTX.sqft}} ft<sup>2</sup></li>
        <li class="paragraphtwo fw-bold fs-6">{{areasTX.location}}</li>
      </div>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-6">
      <div class="firstimg">
        <a routerLink="/Selectdata/{{areasCO.state}}"> <img src="../../../assets/images/1.jpg" class="rounded-4 limit w-100 h-25" alt="homehouse"></a>
        <li class=" fw-bold fs-2 paragraph">{{areasCO.sqft}} ft<sup>2</sup></li>
        <li class="paragraphtwo fw-bold fs-6"> {{areasCO.location}}</li>
      </div>
    </div>

    <div class="col-lg-7 col-md-9 col-sm-6">
      <div class="firstimg">
        <a routerLink="/Selectdata/{{areasCA.state}}">  <img src="../../../assets/images/4.jpg" class="rounded-4 limit w-100" alt="..."></a>
        <li class=" fw-bold fs-2 paragraph">{{areasCA.sqft}} ft<sup>2</sup></li>
        <li class="paragraphtwo fw-bold fs-6"> {{areasCA.location}}</li>
      </div>
    </div>

  </section>
</main>

  